<section class="bottom">

    <hr>

    <div class="bottom-one">
        <p>JSS Academy of Technical Education</p>
        <p>Noida, 201301</p>
    </div>

    <div>
        <p>+91 8401-8401-42</p>
    </div>

    <div>
        <p>support@shinemasters.com</p>
    </div>

    <div>
        <p> <i class="fa-brands fa-linkedin"></i> <i class="fa-brands fa-facebook"></i> <i
                class="fa-brands fa-youtube"></i> <i class="fa-brands fa-discord"></i> </p>
    </div>

</section>

<section class="copy">
    <p>Copyright © 2023 Shinemasters - All Rights Reserved</p>
</section>

</body>

</html>