<%for(var i=0;i<7;i++){%>
    <div class="mid2-card1">
        <div class="profile">
            <p><i class="fa-solid fa-user"></i></p>
        </div>
        <h3>Name 1</h3>
        <div class="info">
            <p><i class="fa-solid fa-circle-info"></i> Cleaner</p>
            <p><i class="fa-solid fa-envelope"></i> ayush45aj@gmail.com</p>
            <p><i class="fa-solid fa-phone"></i> 64354345</p>
            <p><i class="fa-solid fa-location-dot"></i> Delhi</p>

        </div>
        <button class="book_now_button">Book Now</button>
    </div>
    <%}%>