<!-- include header-->
<%- include('partials/_header.ejs'); -%>
<!-- include header-->

<body>
  <div class="wrapper">
    <div class="container">
      <h2>Register</h2>
      <!-- <div class="option">
                <div class="worker active">as worker</div>
                <div class="space">/</div>
                <div class="customer">as customer</div>
            </div> -->
      <form action="/userregistration" method="POST" id="userregister">
        <label for="name"></label>
        <input
          type="text"
          placeholder="name"
          id="name"
          name="name"
          class="box"
        />
        <label for="number"></label>
        <input
          type="text"
          placeholder="number"
          id="number"
          name="number"
          class="box"
        />
        <label for="email"></label>
        <input
          type="text"
          placeholder="Email"
          name="email"
          id="email"
          class="box"
        />
        <label for="password"></label>
        <input
          type="text"
          placeholder="Password"
          name="password"
          id="password"
          class="box"
        />
        <label for="address"></label>
        <input
          type="text"
          placeholder="address"
          name="address"
          id="address"
          class="box"
        />
        <button type="submit" class="submit">Submit</button>
      </form>

      <div class="footer">
        <div class="text">already a member?</div>
        <a href="/userlogin" class="sign">sign in</a>
      </div>
    </div>
  </div>
  <!-- <script src="node.js"></script> -->

  <!-- include footer-->
  <%- include('partials/_footer.ejs'); -%>
  <!-- include footer-->
</body>
