<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Register</title>
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <h2>Login</h2>
            <div class="option">
                <div class="worker active">as worker</div>
                <div class="space">/</div>
                <div class="customer">as customer</div>
            </div>
            <form action="/userlogin" method="POST" id="userlogin">
                <label for="email"></label>
                <input type="text" placeholder="Email" name="email" id="email" class="box" />
                <label for="password"></label>
                <input type="text" placeholder="Password" name="password" id="password" class="box" />
                <button type="submit" class="submit">Submit</button>
            </form>



            <div class="footer">
                <div class="text">already a member?</div>
                <a href="" class="sign">sign in</a>
            </div>
        </div>
    </div>
    <!-- <script src="node.js"></script> -->
</body>

</html>